
.navbar-header{
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background-color: #00274F;

}

.header-nav{
    margin-top: 12px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span {
    color:#E6E6E6;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar-header a{
    text-decoration: none;
}
.navlogo{
  height: 50px;
}

.navbar {
    display: flex; 
}

.navbar a {
    color:#E6E6E6;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: all .50s ease;
}
#style-2 {
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  #style-2::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color:#5abcf9 ;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  #style-2:hover , #style-2:active {
    color:#5abcf9 ;
  }
  #style-2:hover::before {
    transform: scaleX(1);
  }
  

.registration {
    display: flex;
    align-items: center;
}

.registration a{
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;


}

.signin {
    display: flex;
    align-items: center;
}

.signin i  {
    color:#E6E6E6;
    font-size: 1em;
    margin-right: 7px;
}



.registration a{
    text-decoration: none;
    color:#E6E6E6;
    font-weight: 700;
}


#menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 10001;
    display: none;

}

@media (max-width: 2000px) {
    .navbar-header {
        padding:0 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
   
}

@media (max-width: 1090px) {

    .navbar-header {
        position: relative;
    }
      
    .header-nav {
    left: 0;
    display: none;
    }
      
    .header-nav.open {
    display: block;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position:absolute;
        top: 100%;
        width:100%;
        height: 38vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        background-color: #00274F;
        color:#E6E6E6;
    }


    .navbar.open {
        right: 2%;
    }
    .header-nav.open {
        display: block;
      }
}

.custom-modal{
    max-width: 900px;
  }

