
.footer-nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-email{
  display: flex;
}
footer{
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color:#00274F;

}
.footer-email input{
  height:2.8rem;
}
.copyright{
  font-size: smaller;
  color:aliceblue;
  text-align: center;
}
footer ul li {
  list-style: none;
  color:rgba(255, 255, 255, 0.74);

}
footer a{
  color: aliceblue;
  text-decoration: none;
}
footer a:hover{
  text-decoration:underline;
}
.vertical-line {
  border-left: 1px solid white; 
  height: 100%;
}
footer i {
  padding: 5px;
  color: #00274F;
  background-color: aliceblue;
  border-radius: 50%;
  
}


 