.con{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.upload-picture{
    display: none;
}

.profile-picture{
    margin-left: auto;
    margin-right: auto;
}
.profile-edit {
    margin-left: 20px;
}